{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Clothing Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-4">
        <div class="container">
            <a class="navbar-brand" href="{% url 'cloth_list' %}">👕 My Shop</a>
            <div class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <span class="nav-text text-white-50 me-3">Привіт, {{ user.username }}!</span>
                    <a class="btn btn-outline-light btn-sm" href="{% url 'logout' %}">Вийти</a>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Увійти</a>
                    <a class="nav-link" href="{% url 'register' %}">Реєстрація</a>
                {% endif %}
            <form action="{% url 'cloth_list' %}" method="get" class="d-flex ms-3">
                <input type="text" name="q" class="form-control form-control-sm me-2" placeholder="Пошук...">
                <button type="submit" class="btn btn-outline-success btn-sm text-white">Знайти</button>
            </form>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>