{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Наші новинки</h1>
    
    <div class="d-flex gap-2">
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Сортувати за ціною
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-menu-item p-2 text-decoration-none d-block" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}sort=price_asc">Від дешевих до дорогих</a></li>
                <li><a class="dropdown-menu-item p-2 text-decoration-none d-block" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}sort=price_desc">Від дорогих до дешевих</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-menu-item p-2 text-decoration-none d-block text-danger" href="{% url 'cloth_list' %}">Скинути</a></li>
            </ul>
        </div>

        <a href="{% url 'cloth_create' %}" class="btn btn-success">+ Додати товар</a>
    </div>
</div>

<div class="row">
    {% for item in items %}  <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                
                <p class="text-muted small">Бренд: {{ item.brand.name }}</p>
                
                <p class="fw-bold">{{ item.price }} грн</p>
                
                <a href="{% url 'cloth_detail' item.pk %}" class="btn btn-sm btn-primary">Детальніше</a>
            </div>
        </div>
    </div>
    {% empty %}
        <p class="text-center">Товари не знайдені в базі або не передані в шаблон.</p>
    {% endfor %}
</div>
{% endblock %}