{% extends "base.html" %}

{% block title %}Clothes shop{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to our shop!</h1>
    <p class="lead">We will have some stunning new clothes shortly.</p>
    <hr class="my-4">
    
    <a class="btn btn-success mb-3" href="{% url 'cloth_create' %}">Add items</a>

    <div class="row">
        {% for item in clothes %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }} ({{ item.brand.name }})</h5>
                    <p class="card-text">
                        Цена: {{ item.price }} грн<br>
                        Остаток: {{ item.stock_quantity }} шт.
                    </p>
                    <p class="text-muted">Стоимость склада: {{ item.get_total_value }} грн</p>
                    
                    <a href="{% url 'cloth_detail' item.pk %}" class="btn btn-primary btn-sm">Details</a>
                    <a href="{% url 'cloth_update' item.pk %}" class="btn btn-warning btn-sm">Update</a>
                    <a href="{% url 'cloth_delete' item.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>There are no clothes yet. Be the first one to add them!</p>
        {% endfor %}
    </div>
</div>
{% endblock %}